@model TimeTracker.Models.ProjectModels.ProjectCreateModel

@{
    //ViewData["Title"] = "Create";
}

<h2>Create</h2>

<div id="main"></div>

<!--<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        
    </div>
</form> -->

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>

<script type="text/javascript">
    var projectCreateModel = @Html.Raw(Json.Serialize(Model));
</script>

<script src="~/a/b.entry.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
