@using Newtonsoft.Json;
@model TimeTracker.Models.ProjectModels.Project

<h2>Edit</h2>

<div id="main"></div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.js"></script>

<script type="text/javascript">
    var project = @Html.Raw(Json.Serialize(Model));
    console.log("project", project);
</script>

<script src="~/a/b.entry.js"></script>

